body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.range {
    text-align: center;
    display: flex;
    gap: 10px;
}

.square {
    background-color: white;
    border: 1px solid gray;
}

output {
    display: block;
    font-size: 24px;
}

button {
    background-color: #1176cf;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    color: #fff;
}

#grid-container {
    margin-top: 25px;
    display: inline-grid;
    /* grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr); */
    border: 5px solid #1176cf;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

#value {
    margin-bottom: 0;
}
button:hover{
    background-color: #188aee;
}
button:active {
    transform: scale(1.1);
    /* transition: transform 2s ease-in-out; */
}

@media only screen and (max-width: 429px) {
    #grid-container {
        height: 400px;
        width: 400px;
    }
}